#board {
  margin-top: 10px;
}

div {
	font-size: 75px;
}

.current-move {
	font-size: 45px;
}

.box {
  border: 1px solid black;
  height: 150px;
}

.X {
	color: red;
}

.O {
	color: blue;
}

.wins {
	font-size: 20px;
	padding: 10px;
}